

     
    .link-nav{
        list-style: none;
        text-decoration: none;
        color: #000;
    }

    .elemento{
        background-color: blueviolet;
    }


   
/* Estilos para el navbar */
.homeNav {
  background-color: #333; /* Cambia el color de fondo según tus preferencias */
  padding: 10px; /* Ajusta el espaciado interno según tus preferencias */
  width: 200px; /* Ajusta el ancho del navbar según tus preferencias */
  height: 600px;

}

/* Estilos para los enlaces en el navbar */
.home-nav {
  color: white; /* Cambia el color del texto según tus preferencias */
  text-decoration: none;
  padding: 8px 16px; /* Ajusta el espaciado interno según tus preferencias */
  margin: 10px 0; /* Ajusta el margen entre los enlaces según tus preferencias */
  border-radius: 4px; /* Añade esquinas redondeadas según tus preferencias */
  transition: background-color 0.3s; /* Agrega una transición para suavizar los cambios de color */

}

.home-nav:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
}

.Home-links{
  display: grid;
  position: relative;
  top: 80px;
  right: 10px;
}


.Home-container{
  display: flex;
}

.fwdvideo{
  margin: 20px;
  border-radius: 15px;
}