.material-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #003d5b;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
}


.subject-card{
    border: 2px solid black;
    border-radius: 15px;
    margin: 8px;
    background-color: #662d91;
}